<?xml version='1.0'?>
<ljdump>
  <server>http://livejournal.com</server>
  
  <!-- LiveJournal user and password -->     
  <username>ljuser</username>
  <password>foobar</password>

  <!--
      Instead of the specifying the password here the path of a file
      with the password can be given. The file must contain the
      password text on the first line. If the path is relative, it is
      interpreted relative to the dir containing the config.

      <passwordFile>path-to-file-with-password</passwordFile>
  -->
  
  <!--
      List of journals to archive. If no journals are given, the
      journal for the user will be archived. Only communities where the
      user is a maintainer can be archived.
  -->
  <journal>ljuser</journal>
  <journal>community1</journal>
  <journal>community2</journal>
</ljdump>
